.booking {
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 0px 10px 20px rgba(45, 17, 134, 0.308);
	padding: 40px;
	background-color: #fff;
}

.booking h3 {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: rgb(119, 93, 9);
}

.booking p {
	font-size: 14px;
	font-weight: 400;
}

@media (max-width: 425px) {
	.booking {
		margin-left: 1px;
		margin-right: 1px;
		padding: 10px;
	}
}
