.dashboard > h3 {
	font-size: 30px;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	padding-bottom: 50px;
	color: rgb(119, 93, 9);
}

.dashboard-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 50px;
}

.container-item {
	box-shadow: 0px 10px 20px rgba(48, 21, 135, 0.137);
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	background-color: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.container-icon {
	padding: 20px 40px;
	font-size: 50px;
	box-shadow: 0px 10px 20px rgba(48, 21, 135, 0.308);
	color: #fff;
	border-radius: 5px;
	margin-top: -20px;
}

.container-figure {
	padding-top: 20px;
}

.container-figure h3 {
	font-size: 30px;
	text-align: center;
}

.container-figure p {
	font-weight: bold;
}

.chef {
	background-color: green;
}

.users {
	background-color: rgb(224, 135, 17);
}

.booking-color {
	background-color: rgb(155, 40, 25);
}

/* Media Query */

@media (max-width: 768px) {
	.dashboard-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
	}
}

@media (max-width: 425px) {
	.dashboard-container {
		grid-template-columns: 1fr;
		grid-row-gap: 50px;
	}
}
