.chefs {
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 0px 10px 20px rgba(48, 21, 135, 0.308);
	padding: 40px;
	background-color: #fff;
}

.chefs h3 {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: rgb(119, 93, 9);
}

.chefs p {
	font-size: 14px;
	font-weight: 400;
}

.form-grouping {
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.form-grouping > label {
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 600;
	color: #775d09;
}

.form-grouping > input {
	padding: 12px 5px;
	font-size: 16px;
	border: 1px solid rgb(119, 93, 9);
	color: rgb(119, 93, 9);
	outline: none;
}

.btnSave {
	padding: 7px 18px;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 10px;
	font-weight: 600;
	font-size: 16px;
	border: none;
	background-color: rgb(119, 93, 9);
	color: #fff;
}

@media (max-width: 425px) {
	.chefs {
		margin-left: 1px;
		margin-right: 1px;
		padding: 10px;
	}
}
