.login-container {
	display: grid;
	grid-template-columns: 40% 60%;
	height: 100vh;
}

.login-design > img {
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 30px;
	max-width: 10%;
}

.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-body > form > button {
	width: 100%;
	border: none;
	outline: none;
	padding: 14px 24px;
	background-color: rgb(92, 80, 28);
	color: #fff;
	font-weight: 500;
	font-size: 19px;
	cursor: pointer;
}

.form_group {
	display: flex;
	flex-direction: column;
	margin-bottom: 22px;
}

.form_group > label {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	color: rgb(77, 68, 33);
}

.form_group > input {
	width: 100%;
	padding: 13px 20px;
	outline: none;
	border: 1px solid rgb(124, 96, 4);
}

.login-design {
	background: linear-gradient(rgb(148, 88, 10), transparent),
		linear-gradient(to top left, rgb(77, 53, 10), transparent),
		linear-gradient(to top right, rgb(66, 41, 4), transparent);
	background-blend-mode: screen;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
	font-weight: 700;
	font-size: 42px;
	font-family: italic;
}

@media (max-width: 1050px) {
	.login-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 475px) {
	.login-container {
		grid-template-columns: 1fr;
	}
}
