.grid-container {
	display: grid;
	grid-template-columns: 260px 1fr;
	grid-template-rows: 100px 1fr;
	overflow-x: hidden;
	grid-template-areas:
		"sidebar header"
		"sidebar main";
	height: 100vh;
}

.main {
	grid-area: main;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
}

@media (max-width: 1025px) {
	.grid-container {
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"main";
	}

	.main {
		margin: 20px 20px;
	}
}
