.user {
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 0px 10px 20px rgba(48, 21, 135, 0.308);
	padding: 40px;
}

.user h3 {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: rgb(119, 93, 9);
}

.user p {
	font-size: 14px;
	font-weight: 400;
}

.deActivate {
	background-color: rgb(170, 57, 57);
	color: #fff;
	cursor: pointer;
}

.activate {
	background-color: rgb(92, 223, 92);
	color: #fff;
	cursor: pointer;
}

@media (max-width: 425px) {
	.user {
		margin-left: 1px;
		margin-right: 1px;
		padding: 10px;
	}
}
