.sidebar {
	grid-area: sidebar;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.253);

	background-image: linear-gradient(to bottom, #313131dc, #313131d7),
		url("../img/kitchen.jpeg");
	background-position: center;
	background-size: contain;
	padding: 9px 0;
	z-index: 20;
	display: flex;
	position: fixed;
	width: 18%;
	left: 0;
	height: 100%;
	flex-direction: column;
	transition: all 0.6s ease;
	overflow-y: auto;
}

.sidebar__close-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 20px;
	font-weight: 700;
	display: none;
}

.sidebar__logo img {
	max-width: 50%;
	padding-bottom: 10px;
	padding-left: 25px;
	margin-top: 5px;
}

/* Navlist */
.sidebar__navList {
	list-style: none;
}

.sidebar__navList > li > a {
	display: flex;
	align-items: center;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 2px;
	padding-right: 20px;
}

.sidebar__navList > li > a > i {
	font-size: 20px;
	color: #fcfcfc;
	margin-right: 12px;
}

.sidebar__navList--text {
	font-size: 15px;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	color: rgb(250, 250, 250);
	line-height: 1.4;
	transition: opacity 0.1s linear;
}

@media (max-width: 1025px) {
	.sidebar {
		display: none;
	}

	.sidebar__close-icon {
		display: block;
		color: #fff;
		font-weight: bold;
		font-size: 1.5em;
	}

	.sidebar-responsive {
		height: 100vh;
		background-color: rgb(0, 0, 0);
		z-index: 90;
		position: fixed;
		display: block;
		width: 40%;
	}

	.sidebar__logo img {
		max-width: 40%;
	}
}

@media (max-width: 425px) {
	.sidebar-responsive {
		width: 60%;
	}
}
