.header {
	grid-area: header;
	display: flex;
	z-index: 10;
	align-items: center;
	margin-left: 40px;
	margin-right: 2px;
	margin-bottom: 10px;
	padding: 23px 20px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.253);
	position: fixed;
	background-color: #fff;
	top: 0;
	right: 0;
}

.header__icon {
	display: none;
	font-size: 25px;
}

.header__content {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	font-size: 27px;
	margin-left: auto;
	color: #6e6b7b;
}

.user-name {
	padding-right: 15px;
}

.user-name > h3 {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: right;
	line-height: 1.2;
}

.user-logout > h3 {
	font-size: 15px;
	cursor: pointer;
	color: rgb(156, 9, 9);
}

.user-name > p {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #b9b9c3;
}

/* Media query */
@media (max-width: 2550px) {
	.header {
		width: 86%;
	}
}

@media (max-width: 1920px) {
	.header {
		width: 82%;
	}
}

@media (max-width: 1540px) {
	.header {
		width: 77%;
	}
}

@media (max-width: 1025px) {
	.header {
		right: 0;
		width: 93%;
	}

	.header__icon {
		font-size: 18px;
		display: block;
	}
}

@media (max-width: 725px) {
	.header {
		right: 0;
		width: 100%;
	}
}

@media (max-width: 425px) {
	.header {
		margin-left: 20px;
		margin-right: 1px;
		width: 89%;
		right: 2px;
	}

	.header__content {
		font-size: 22px;
	}

	.user-name {
		padding-right: 6px;
	}

	.user-name > h3 {
		font-size: 10px;
	}

	.user-name > p {
		font-size: 8px;
	}
}
